img {
  width: 500px;
}

.bg-default-image {
  background-image: url("/images/home.png");
  background-size: 100%;
  height: 150px;
  text-shadow: 2px 2px 8px #cfc3c3;
}

.active {
  background-color: rgb(108, 108, 252);
}
